/* Reset some default styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the page */
body {
    background-color: #f9f9fa; /* Light gray background */
    font-family: 'Inter', sans-serif; /* Use Inter font */
    color: #222; /* Dark text color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Style the container */
.container {
    text-align: center;
}

/* Style the header */
.header {
    font-size: 36px;
    font-weight: 700;
    color: #333; /* Dark gray header color */
    margin-bottom: 20px;
}

/* Style the subtext */
.subtext {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 400;
    color: #666; /* Gray subtext color */
    margin-bottom: 30px;
}

/* Style the repository list */
.repos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the cards horizontally */
    margin-top: 20px; /* Add some space above the cards */
}

.repo-card {
    flex-basis: calc(33.33% - 20px);
    margin: 0 10px 20px; /* Add margin around each card */
    padding: 20px;
    background-color: #fff; /* White background for cards */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left; /* Align text to the left */
}

.repo-card h4 {
    font-size: 24px;
    font-weight: 700;
    color: #222; /* Dark gray title color */
    margin-bottom: 10px;
    cursor: pointer; /* Change cursor to pointer for clickable links */
}

.repo-card p {
    font-size: 16px;
    font-weight: 400;
    color: #555; /* Gray text color */
}

/* Remove link styles */
.repo-card a {
    text-decoration: none;
    color: inherit;
}

/* Hover effect for repository names */
.repo-card h4:hover {
    color: #007AFF; /* Blue color on hover */
}
