/* Reset some default styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the page */
body {
    background-color: #333;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Style the container */
.container {
    text-align: center;
}

/* Style the header */
.header {
    font-size: 36px;
    font-weight: bold;
    color: #ff6600; /* Orange color */
    font-family: 'Pacifico', cursive; /* Creative font */
    margin-bottom: 20px;
}

/* Style the subtext */
.subtext {
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif; /* Creative font */
    margin-bottom: 30px;
}

/* Style the repository list */
.repos {
    max-height: 300px;
    overflow-y: scroll;
    text-align: left;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.repo-list {
    list-style: none;
    padding: 0;
}

.repo-list li {
    margin-bottom: 15px;
}

.repo-list a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.repo-list a:hover {
    color: #ff6600; /* Orange color on hover */
}
