/* Reset some default styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the page */
body {
    background-color: #333;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Style the container */
.container {
    text-align: center;
}

/* Style the header */
.header {
    font-size: 36px;
    font-weight: bold;
    color: #ff6600; /* Orange color */
    font-family: 'Pacifico', cursive; /* Creative font */
    margin-bottom: 20px;
}

/* Style the subtext */
.subtext {
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif; /* Creative font */
    margin-bottom: 30px;
}

/* Style the repository list */
.repos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px; /* Add some space above the cards */
}

.repo-card {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.repo-card h4 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.repo-card p {
    font-size: 16px;
    color: #555;
}

.repo-card a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.repo-card a:hover {
    color: #ff6600; /* Orange color on hover */
}
